# Ignore credentials
assets/cred.txt
assets/database.json

# Main JS
custom_main.js
sample_main.js
dev_main.js

# Build & Release folders
dist/
build/
king-bot-api-*
KingBotApi.dmg
*.zip

# Package Lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Visual Studio Project
/.vs

# Visual Studio Code
/.vscode

# Apple folder custom attributes file
.DS_Store